# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# Environment
.env
venv/
env/
ENV/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/editor folders
.vscode/
.idea/

# Uvicorn reload file
.reload

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Byte-compiled / packages
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# Node modules (if using npm later)
node_modules/
uploads/